/* 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222328;
    list-style: none;
    text-decoration: none;
}

/* 공통 스타일 */
.blind {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#wrap {
    width: 1200px;
    /* background: lightgray; */
    margin: auto;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#gnb {
    display: flex;
    gap: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

#gnb dl {
    min-width: 125px;
}

#gnb dl:hover dd {
    display: block;
}

#gnb dt a:hover {
    color: red;
    border-bottom: 2px solid red;
}

#gnb dt a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: red;
}

#gnb dd {
    display: none;
    background: #fff;
    padding: 5px 20px;
}

#gnb dt a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background: lightblue;
}

.slide {
    overflow: hidden;
}

.slide ul {
    display: flex;
}

.slide img {
    display: block;
}

main {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 20px;
}

main section {
    width: 30%;
}

section .tit {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.list-bbs a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
    padding: 5px 0px;
    text-overflow: ellipsis;
    /* color: red; */
}

.list-bbs li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-bbs li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: black;
    display: block;
}

.bnr {
    width: 100%;
}

.list-goto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 22px;
}

.list-goto li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 70px;
    background: lightblue;
    border-radius: 10px;
}

footer {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
}

footer .logo {
    font-size: 20px;
}

footer address {
    font-style: normal;
}

.sns a {
    display: inline-block;
    padding: 20px 5px;
}

.dimmed {
    background: #eee;
}

#modal {
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal .tit {
    text-align: center;
}

#modal .but-close {
    display: block;
    margin: auto auto 0;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
}
